@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
  "Global" styles
*/

:root {
  --link-color-disabled: #737380;
  --link-color-enabled: #fff;
  --button-bg-color: #896CEB;
}

* {
  margin: 0;
  padding: 0;

  inset: 0;

  border: none;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 1rem;
  font-family: "Roboto", sans-serif, monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-height: 4.5rem;
  height: 100%;
  padding: 0.4rem 1rem 0.4rem 1rem;

  background-color: #202024;
}

li {
  display: inline-block;
  list-style: none;
  margin: 1rem;
  padding: 0.2rem;
}

a {
  border-bottom: 1rem transparent;
  text-decoration: none;
  color: var(--link-color-disabled);

  transition: all 0.6s ease 0.2s;
}

a:hover {
  border-bottom: 1rem #fff;
  color: #fff;
}

button {

}

button:hover {

}

/*
  header style
*/

.logo {
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-img {
  max-width: 2rem;
  width: 100%;
  height: 2rem;

  margin: 1rem;
  padding: 0.2rem;

  border-radius: 100%;

  transition: all 0.8s ease 0.2s;
}

.perfil {
  width: 4rem;
  height: 4rem;

  margin: 0.2rem;
  padding: 0.2rem;

  border-radius: 100%;
  border: 2px #fff;

  transition: all 0.8s ease 0.2s;
}

.header-img-hover:hover {
  background-color: #44444462;
}

.div {
  
}

/*
  Presentation style
*/

.container {
  
}

.hello-dev {
  

}

.return-lesson {
  
}

.hashtag {
  
}

/*
  Continue Your Class style
*/

.container-class {
  
}

.info-lesson {

}

.info-lesson > h1 {
  
}

.info-lesson > h3 {
  
}

.return {
  
}

.play {
  
}

/*
  Profile area style
*/

.profile-area {

}

.profile {

}

.profile-img {

}

.profile-infos {

}

.button-profile {

}

/*
  Progress style
*/

.progress {

}

.progress-complet {

}

.breakCmp {

}

.complet-img {

}

.progress-incomplet {

}

.breakIncomplet {

}

.fire {

}