@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
  "Global" styles
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-height: 4.5rem;
  height: 100%;
  padding: 0.4rem 1rem 0.4rem 1rem;

  background-color: #202024;
}

li {
  display: inline-block;
  padding: 0 0.6rem 0 0.6rem;
}

a {
  text-decoration: none;
  color: #96969B;
  
  transition: all 0.8s ease 0.2s;
}

a:hover {
  color: #E1E1E6;
  border-bottom: 1px solid #fff;
}

button {

}

button:hover {

}

/*
  header style
*/

.logo {
  cursor: pointer;
}

.nav-menu {
  list-style: none;
}

.header-img {
  cursor: pointer;

  max-width: 1.5rem;
  width: 100%;
  height: 1rem;
  border-radius: 100%;

  margin: 0.2rem;
  padding: 0.2rem;

  transition: all 0.5s ease 0s;
}

.header-img:hover {
  background-color: #1f1b31;
}

.div {
  margin: 0.2rem 0.4rem 0.2rem 0.4rem;
  padding: 0 0.2rem 0 0.2rem;

  display: flex;
  justify-content: space-between;

  color: #96969B;
}

.div > img {
  cursor: pointer;

  max-width: 2rem;
  width: 100%;
  height: 2rem;
  margin: 0.2rem;
  padding: 0.2rem;

  transition: all 0.5s ease 0s;
}

.div > img:hover {
  background-color: #1f1b31;
}

.perfil {
  width: 3.2rem;
  height: 3.2rem;
}

/*
  Presentation style
*/

.container {
  width: 100%;
  height: 6rem;
  margin: 1rem;
  padding: 1rem;

  display: flex;
  justify-content: space-around;
}

.hello-dev {
  color: #fff !important;
  font-size: 1.5rem;
  font-weight: 600;
}

.hashtag {

}

/*
  Continue Your Class style
*/

.container-class {
  width: 69rem;
  height: 6rem;
  margin: 0.5rem;
  padding: 0.5rem;

  background: linear-gradient(90.46deg, #212125 0%, #2D264A 100%);
border-radius: 6px;
}

.info-lesson {

}

.return {

}

.play {
  cursor: pointer;
}

/*
  Profile area style
*/

.profile-area {

}

.profile {

}

.profile-img {
  border-radius: 100%;
  width: 125px;
  height: 125px;
}

.profile-infos {

}

.button-profile {

}

/*
  Progress style
*/

.progress {

}

.progress-complet {

}

.breakCmp {

}

.complet-img {

}

.progress-incomplet {

}

.breakIncomplet {

}

.fire {

}